<div class="_18tv-" role="button">
    
</div>
<div class="_1WBXd" role="button">
    <div class="_2EbF-">
        <div class="_2zCDG"><span dir="auto" title="no user selected" class="_1wjpf">
                
            </span>
        </div>
    </div>
    <div class="_3sgkv Gd51Q"><span title="last seen today at 6:15 PM" class="O90ur">Select Friend to start a chat ...</span></div>
</div>
