<div class="vW7d1 _1nHRW"><span></span>
    <div class="_3_7SH _3DFk6 message-in tail"><span
            class="tail-container"></span><span
            class="tail-container highlight"></span>
        <div class="Tkt2p">
            <div class="copyable-text"
                data-pre-plain-text="[5:36 PM, 11/10/2018] +90 536 719 04 97: ">
                <div class="_3zb-j ZhF0n"><span dir="ltr"
                        class="selectable-text invisible-space copyable-text">Not
                        yet</span></div>
            </div>
            <div class="_2f-RV">
                <div class="_1DZAH"><span class="_1ORuP"></span><span
                        class="_3EFt_">5:36 PM</span></div>
            </div>
        </div><span></span>
    </div>
</div>
